<html>
<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://user-images.githubusercontent.com/25589910/35773866-87c2cbca-092c-11e8-9648-64f016493a56.png" width="40" height="40" class="d-inline-block align-top" alt="">
      <b>Adam's Web Scraper!</b>
    </a>
    <ul class="nav nav-pills justify-content-end" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="/users/show">History</a>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="tags">
        <% if @h1_tags.empty? & @h2_tags.empty? & @h3_tags.empty? & @links.empty? %>
        <div class="incorrect-url alert alert-danger" role="alert">
          <strong>Uh oh!</strong>&nbsp;&nbsp;We couldn't connect to the URL you entered!!<br> Pls make sure to include the <strong>https://</strong> <br><br> For example: <strong>https://www.facebook.com</strong>
        </div>
      </div>

      <% else %>
      <div class="quick-links-sidebar col-md-2">
        <div class="linkHeader">
          <legend>Quick Links:</legend>
          <form class="pageLinks" method="get" action="#h1_tags">
            <button type="submit" class="btn btn-outline-info"><b style="color:'black';">&lt;H1&gt;Tags</b></button>
          </form>

          <form class="pageLinks" method="get" action="#h2_tags">
            <button type="submit" class="btn btn-outline-info"><b style="color:'black';">&lt;H2&gt;Tags</b></button>
          </form>
          <form class="pageLinks" method="get" action="#h3_tags">
            <button type="submit" class="btn btn-outline-info"><b style="color:'black';">&lt;H3&gt;Tags</b></button>
          </form>
          <form class="pageLinks" method="get" action="#h4_tags">
            <button type="submit" class="btn btn-outline-info"><b style="color:'black';">&lt;H4&gt;Tags</b></button>
          </form>
          <form class="pageLinks" method="get" action="#p_tags">
            <button type="submit" class="btn btn-outline-info"><b style="color:'black';">&lt;P&gt;Tags</b></button>
          </form>
          <form class="pageLinks" method="get" action="#links">
            <button type="submit" class="btn btn-outline-info"><b style="color:'black';">&lt;Links&gt;</b></button>
          </form>
          <form class="pageLinks" method="get" action="#photoContainer">
            <button type="submit" class="btn btn-outline-info"><b style="color:'black';">&lt;Photos&gt;</b></button>
          </form>
        </div>
      </div>
    </div>
    <div class="scrape-results col-md-9">
      <div class="scraped-url row alert alert-success">
        Scraped URL:&nbsp;&nbsp;<strong>   <%= @search.url %></strong>
      </div>

      <div id="h1_tags">
        <h1>H1 Tags</h1>
        <% if @h1_tags.length > 0 %>
        <ul>
          <% @h1_tags.each do |h1| %>
          <li> <%= h1 %> </li>
          <% end %>
        </ul>
        <% else %>
        <div class="alert alert-warning" role="alert">
          No H1 tags on this website!
        </div>
        <div class="noTags">
          <p>No H1 tags on this website!</p>
        </div>
        <% end %>
      </div>

      <div id="h2_tags">
        <h1>H2 Tags</h1>
        <% if @h2_tags.length > 0 %>
        <ul>
          <% @h2_tags.each do |h2| %>
          <li> <%= h2 %> </li>
          <% end %>
        </ul>
        <% else %>
        <div class="alert alert-warning" role="alert">
          No &lt;H2&gt; tags on this website!
        </div>
        <% end %>
      </div>

      <div id="h3_tags">
        <h1>H3 Tags</h1>
        <% if @h3_tags.length > 0 %>
        <ul>
          <% @h3_tags.each do |h3| %>
          <li> <%= h3 %> </li>
          <% end %>
        </ul>
        <% else %>
        <div class="alert alert-warning" role="alert">
          No &lt;H3&gt; tags on this website!
        </div>
        <% end %>
      </div>

      <div id="h4_tags">
        <h1>H4 Tags</h1>
        <% if @h4_tags.length > 0 %>
        <ul>
          <% @h4_tags.each do |h4| %>
          <li> <%= h4 %> </li>
          <% end %>
        </ul>
        <% else %>
        <div class="alert alert-warning" role="alert">
          No &lt;H4&gt; tags on this website!
        </div>
        <% end %>
      </div>

      <div id="p_tags">
        <h1>P Tags</h1>
        <% if @p_tags.length > 0 %>
        <ul>
          <% @p_tags.each do |p_tag| %>
          <li> <%= p_tag %> </li>
          <% end %>
        </ul>
        <% else %>
        <div class="alert alert-warning" role="alert">
          No &lt;P&gt; tags on this website!
        </div>
        <% end %>
      </div>

      <div id="links">
        <h1>Links</h1>
        <% if @links.length > 0 %>
        <ul>
          <% @links.each do |link| %>
          <li><a href="<%= link %>" target="_blank"> <%= link %> </a></li>
          <% end %>
        </ul>
        <% else %>
        <div class="alert alert-warning" role="alert">
          No &lt;Links&gt; on this website!
        </div>
        <% end %>
      </div>

      <div id="photoContainer">
        <h1>Photos</h1>
        <% if @imgs.length > 0 %>
        <% @imgs.each do |i| %>
        <div class="photos">
          <img src="<%= i %>"></img>
          <% end %>
        </div>
        <% else %>
        <div class="alert alert-warning" role="alert">
          No &lt;Photos&gt; on this website!
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
