<html>
  <%= render "layouts/navbar" %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="tags">
          <% if @h1_tags.empty? & @h2_tags.empty? & @h3_tags.empty? & @links.empty? %>
            <div class="errors">
              <h2>"Couldn't connect to the URL you entered... Pls enter another URL in the correct format. example: https://www.facebook.com"</h2>
            </div>
          </div>
          <% else %>
      <div class="col-md-2">
        <div class="linkHeader">
          <!-- <legend>Quick Links:</legend> -->
          <h3>Quick Links:</h3>
          <form class="pageLinks" method="get" action="#h1_tags">
            <button type="submit"><b style="color:'black';">H1 Tags</b></button>
          </form>

          <form class="pageLinks" method="get" action="#h2_tags">
            <button type="submit"><b style="color:'black';">H2 Tags</b></button>
          </form>
          <form class="pageLinks" method="get" action="#h3_tags">
            <button type="submit"><b style="color:'black';">H3 Tags</b></button>
          </form>
          <form class="pageLinks" method="get" action="#h4_tags">
            <button type="submit"><b style="color:'black';">H4 Tags</b></button>
          </form>

          <form class="pageLinks" method="get" action="#links">
            <button type="submit"><b style="color:'black';">Links</b></button>
          </form>
          <form class="pageLinks" method="get" action="#photoContainer">
            <button type="submit"><b style="color:'black';">Photos</b></button>
          </form>
        </div>
      </div>
      </div>
      <div class="col-md-9">
        <!-- <div class="row"> -->
          <div id="h1_tags">
            <h1>H1 Tags</h1>
              <% if @h1_tags.length > 0 %>
                <ul>
                    <% @h1_tags.each do |h1| %>
                    <li> <%= h1 %> </li>
                    <% end %>
                </ul>
                <% else %>
                <div class="noTags">
                  <p>No H1 tags on this website!</p>
                </div>
              <% end %>
            </div>

          <div id="h2_tags">
            <h1>H2 Tags</h1>
              <% if @h2_tags.length > 0 %>
                <ul>
                    <% @h2_tags.each do |h2| %>
                    <li> <%= h2 %> </li>
                    <% end %>
                </ul>
                <% else %>
                <div class="noTags">
                  <p>No H2 tags on this website!</p>
                </div>
              <% end %>
          </div>

          <div id="h3_tags">
            <h1>H3 Tags</h1>
              <% if @h3_tags.length > 0 %>
                <ul>
                    <% @h3_tags.each do |h3| %>
                    <li> <%= h3 %> </li>
                    <% end %>
                </ul>
                <% else %>
                <div class="noTags">
                  <p>No H3 tags on this website!</p>
                </div>
              <% end %>
          </div>

          <div id="h4_tags">
            <h1>H4 Tags</h1>
              <% if @h4_tags.length > 0 %>
                <ul>
                    <% @h4_tags.each do |h4| %>
                    <li> <%= h4 %> </li>
                    <% end %>
                </ul>
                <% else %>
                <div class="noTags">
                  <p>No H4 tags on this website!</p>
                </div>
              <% end %>
          </div>

          <div id="p_tags">
            <h1>P Tags</h1>
              <% if @p_tags.length > 0 %>
                <ul>
                    <% @p_tags.each do |p_tag| %>
                    <li> <%= p_tag %> </li>
                    <% end %>
                </ul>
                <% else %>
                <div class="noTags">
                  <p>No P tags on this website!</p>
                </div>
              <% end %>
          </div>

          <div id="links">
            <h1>Links</h1>
                <% if @links.length > 0 %>
                  <ul>
                      <% @links.each do |link| %>
                      <li><a href="<%= link %>" target="_blank"> <%= link %> </a></li>
                      <% end %>
                  </ul>
                  <% else %>
                  <div class="noTags">
                    <p>No links on this website!</p>
                  </div>
                <% end %>
          </div>

          <div id="photoContainer">
            <h1>Photos</h1>
                <% if @imgs.length > 0 %>
                  <% @imgs.each do |i| %>
                <div class="photos">
                  <img src="<%= i %>"></img>
                  <% end %>
                </div>
                <% else %>
                <div class="noTags">
                  <p>No photos on this website!</p>
                </div>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
